Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
Downloads/
WebRoot/
.CFUserTextEncoding
.ShadowsocksX/
.bash_history
.bash_profile
.cpan/
.git-completion.bash
.gitconfig
.mysql_history
.oh-my-zsh/
.ssh/
.subversion/
.vagrant.d/
.zsh-update
.zshrc
.viminfo
.config/
.vim/
.zsh_history
.DS_Store
